*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container{
    width: 80%;
    max-width: 1000px;
    background-color: white;
    padding: 35px 15px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.titulo{
    text-align: center;
}

.tarjeta{
    width: 100%;
    max-width: 580px;
    max-height: fit-content;
    color:silver;
    transition: 1s ease all;
    transform: rotateY('0deg');
    transform-style: preserve-3d;
    backface-visibility: hidden;
   
}

.tarjeta.active {
    transform: rotateY(180deg);
}

.tarjeta >div{
    padding: 35px;
    border-radius: 15px;
    min-height: 320px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0 8px 8px 0 rgba(67, 87, 112, 0.3);
    
}

.tarjeta .front{
    width:100%;
    height: 353px;
    background: url(./img/fondotarjeta.jpg);
    background-size: cover;

}

.padreFranquicia{
    display: flex;
    justify-content: flex-end;
}

.front .franquicia{
    text-align: right;
    min-height: 100%;
    width: 100px;
    height: auto;

}

.front .franquicia img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    max-width: 100px;
    text-align: right;

}

.front .chip{
    width: 100%;
    max-width: 95px;
    rotate: -90deg;
    
}

.etiqueta{
    font-size: 15px;
    margin-bottom: 5px;
}

.etiqueta{
    font-size: 16px;
}

.numero,
.nombre,
.expiracion{
    font-size: 22px;
    text-transform: uppercase;
}

.flexbox{
    display: flex;
    justify-content: space-between;
    
}

/*back-card*/

.tarjeta .back{
    background: url(./img/fondotarjeta.jpg);
    background-size: cover;
    width:100%;
    height: 353px;
    position:absolute;
    top:0;
    transform: rotateY(180deg);
    backface-visibility: hidden;

}

.barra {
    height:50px;
    width: 100%;
    background: silver;
    position:absolute;
    top:40px;
    left:0;
}

.back .datos{
    margin-top: 60px;
}

.back .datos p{
    margin-bottom: 5px;
}

.back .datos .sector{
    width: 60%;
    height: 40px;
    background: black;
    padding: 10px;
    text-align: left;
    font-size: 16px;

}

/*Formulario*/

.formulario{
    background: white;
    width:100%;
    max-width: 750px;
    border-radius: 15px;
    padding: 30px 30px 30px 30px;
}

.formulario label{
    display:block;
    color: grey;
    font-size: 17px;
    margin-bottom: 7px;
}

.formulario input,
.formulario select{
    border:2px solid rgb(196, 192, 192);
    font-size: 18px;
    height: 50px;
    width:100%;
    padding: 8px 15px;
    border-radius: 10px;
    transition: .1s ease all;
}

.formulario input:hover,
.formulario select:hover{
    border: 2px solid rgb(112, 99, 99);
}

.formulario input:focus,
.formulario select:focus {
    outline:rgb(31, 30, 30);
    box-shadow: 2px 3px 3px 0 rgba(175, 169, 169, 0.3);
}

.formulario input{
    margin-bottom: 18px;
    text-transform: uppercase;
}

.formulario .flexbox2{
    display: flex;
    justify-content: space-between;
}

.formulario .expiracion2{
    width:100%;
}

.formulario .cvv{
    min-width: 100px;
}

.flexbox2 .seleccionGrupo{
    width: 100%;
    margin-right: 20px;
}

.formulario .botonEnvio:hover{
    background: rgb(151, 147, 147);
}
.formulario .botonEnvio{
    width:100%;
    padding:15px;
    border-radius: 20px;
    border:none;
    font-size: 18px;
    cursor:pointer;
    background: rgb(212, 210, 210);
    display: flex;
    justify-content: center;
}