*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container{
    width: 80%;
    max-width: 1000px;
    background-color: white;
    padding: 35px 15px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.titulo{text-align: center;
}

.tarjeta{
    width: 100%;
    max-width: 580px;
    max-height: auto;
    color:silver;
    transition: 2s ease all;
    transform: rotateY('0deg');
    transform-style: preserve-3d;
    backface-visibility: hidden;
    cursor:pointer;
    z-index: 2;


   /* position:relative;*/
}

.tarjeta:hover /* .active en js */ {
    transform: rotateY(180deg);
}

.tarjeta >div{
    padding: 35px;
    border-radius: 15px;
    min-height: 320px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0 8px 8px 0 rgba(67, 87, 112, 0.3);
    
}

.tarjeta .front{
    width:100%;
    background: url(./img/fondotarjeta.jpg);
    background-size: cover;
}

.padreFranquicia{
    display: flex;
    justify-content: flex-end;
}

.front .franquicia{
    text-align: right;
    min-height: 100%;
    width: 100px;
    height: auto;

}

.front .franquicia img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    max-width: 100px;
    text-align: right;

}

.front .chip{
    width: 100%;
    max-width: 95px;
    rotate: -90deg;
    /*margin-bottom: 20px;*/
}

.etiqueta{
    font-size: 15px;
    margin-bottom: 5px;
}

.etiqueta{
    font-size: 16px;
}

.numero,
.nombre,
.expiracion{
    font-size: 22px;
    text-transform: uppercase;
}

.flexbox{
    display: flex;
    justify-content: space-between;
    /*margin-top: 20px;*/
}

/*back-card*/

.tarjeta .back{
    background: url(./img/fondotarjeta.jpg);
    background-size: cover;
    width:100%;
    position:absolute;
    top:0;
    transform: rotateY(180deg);
    backface-visibility: hidden;

}